p {
	margin: 0;
	text-align: center;
	text-transform: capitalize;
}

.Card {
	background: rgb(233, 231, 231);
	border-radius: 10px;
	margin: .5em;
}

.Card:hover {
	background-color: #4583d4b7;
	transform: scale(1.05);
	transition: all .2s ease-in-out;
	box-shadow: 0 0 1em rgba(33, 33, 33, 0.63); 

}

.Card__img {
	text-align: center;
}

.Card__types {
	display: flex;
	justify-content: center;
}

.Card__type {
	padding: .3em .8em;
	margin: 0 .5em 0 .5em;
	border-radius: 5px;
	color: #fff;
}

.Card__type > p {
	font-size: 1.5em;
	font-weight: 600;
}

.Card__name {
	text-align: center;
	font-size: 1.5em;
	font-weight: 800;
	text-transform: capitalize;
	color: rgb(52, 59, 59);
	background-color: rgba(194, 193, 191, 0.507);
}

.Card__no {
	text-align: right;
	font-weight: 600;
	padding-top: 1em;
}
