p {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.Card {
    background: lightgray;
    border-radius: 10px;
}

.Card:hover {
    background-color: #4583d4b7;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
}

.Card__no {
    text-align: right;
    font-weight: 600;
    padding-top: 10px;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

