p {
    margin: 0;
    text-align: center;
    font-size: 1.2vw;
    text-transform: capitalize;
}

.Card {
    background: lightgray;
    border-radius: 10px;
    justify-content: center;
}

.Card__img {
    text-align: center;
}

.Card__types {
    display: flex;
    justify-content: center;    
}

.Card__type {
    padding: 5px 15px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__abilities {
    display: flex;
    justify-content: center;    
}

.Card__ability {
    padding: 5px 15px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card__no {
    text-align: right;
    font-weight: 600;
    padding-right: 20px;
    padding-top: 10px;
}

.Card__info {
    margin-left: 10px;
}

.Card__data {
    padding-bottom: 10px;
}

.Card__data .title {
    font-weight: 700;
}

 div.chart {
     padding: 0 20px 20px 20px
 }

 .Card__type > p, .Card__ability > p {
     font-size: 1.2vw;
     font-weight: 600;
 }
