* {
	box-sizing: border-box;
}

.grid-container {
	width: 70%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: .5em;
}

span.MuiIconButton-label > img {
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
	height: 8vh;
}

span.MuiIconButton-label > img:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

h2 {
	text-align: center;
	width: 100%;
}
#pokelogo {
	position: absolute;
	top: 30%;
	left: 50%;
	height: 10em;
	margin: -6em 0 0 -6em;
	-webkit-animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
